.chatbot-window {
  color: #fff;
  box-shadow: 0px 4px 217.4px 0px #000000;
  overflow: hidden;
  background: url('/chat-window-bg.jpg') no-repeat 65% 50%;
  background-size: cover;
  transform: translateY(100%);
  transition: all 0.5s ease-in;

  @starting-style {
    border-radius: 20px;
    border-width: 0px;
    border: 0px solid #ff4100;
    transform: translateY(100%);
    height: 0;
    width: 0;
  }

  &.open {
    border-radius: 20px;
    border-width: 2px;
    border: 2px solid #ff4100;
    transform: translateY(0);
    height: calc(100vh - 200px);
    width: 375px;
  }

  &.close {
    border-radius: 20px;
    border-width: 0px;
    border: 0px solid #ff4100;
    transform: translateY(100%);
    height: 0;
    width: 0;
    // animation: close-chatbot 0.5s ease-in-out;
  }
}

.chatbot-window__container {
  overflow: hidden;
  backdrop-filter: blur(3px) brightness(40%);
}

.chatbot-window__header {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
}

.message-wrapper__content {
  gap: 8px;
  padding: 8px;
  backdrop-filter: blur(30px);
  font-weight: medium;
  box-shadow: 0px 0px 10px 0px #00000040;
}

.ai-msg .message-wrapper__content {
  background: #24242480;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.human-msg .message-wrapper__content {
  background: #ff6a0080;

  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.chatbot-window__contentbox {
  height: calc(100% - 200px);
}

.chat-pic-wrapper {
  box-shadow: 0px 0px 10px 0px #ff410040;
}

.chatbot-window__messages::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.chatbot-window__messages::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.chatbot-window__messages::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 4px;
}

.chatbot-window__messages::-webkit-scrollbar-thumb:hover {
  /* Use a darker color directly if not using SCSS */
  background-color: #e03a00; /* slightly darker than #ff4100 */
}
