<div class="step-header mb-5">
  <div class="arc"></div>
  <div class="step-indicator">{{ currentStep }}/{{ stepsLength }}</div>
</div>

<h2 class="picker-title">What's Your Weight?</h2>
<p class="picker-subtitle">This Helps Us Create Your Personalized Plan</p>
<h1 class="text-[#ff4500] m-5 text-center">Kg</h1>
<div class="picker-list">
  <div
    *ngFor="let weight of weights; let i = index"
    class="picker-item"
    [ngClass]="positionClassWeight(i)"
    (click)="onPickWeight(weight)"
  >
    {{ weight }}
    <span *ngIf="positionClassWeight(i) === 'center'" class="arrow-up"></span>
  </div>
</div>
