<form [formGroup]="form" class="form-box">
  <div class="greeting title">Create Your Account</div>
  <input formControlName="fname" placeholder="First Name" />
  <input formControlName="lname" placeholder="Last Name" />
  <input formControlName="email" placeholder="Email" type="email" />
  <input formControlName="password" placeholder="Password" type="password" />
  <input formControlName="repassword" placeholder="Confirm Password" type="password" />

  <div class="forgot">
    <a routerLink="/auth/forgot-password">Forget Password ?</a>
  </div>

  <div class="divider">Or</div>

  <div class="social-icons">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-google"></i>
    <i class="fab fa-apple"></i>
  </div>
</form>
