<div class="step-header mb-5">
  <div class="arc"></div>
  <div class="step-indicator">{{ currentStep }}/{{ stepsLength }}</div>
</div>

<h2 class="picker-title">What's Your Height?</h2>
<p class="picker-subtitle">This Helps Us Create Your Personalized Plan</p>
<h1 class="text-[#ff4500] m-5 text-center">CM</h1>
<div class="picker-list">
  <div
    *ngFor="let height of heights; let i = index"
    class="picker-item"
    [ngClass]="positionClassHeight(i)"
    (click)="onPickHeight(height)"
  >
    {{ height }}
    <span *ngIf="positionClassHeight(i) === 'center'" class="arrow-up"></span>
  </div>
</div>
